# IDE / CommandLine Tool
*.xmake
*.vscode
*.idea
*.cache
*.pixi
*.clice

# Auto Gen
*build
*clangd-trace.json
*compile_commands.json
*vs2022
*vsxmake2022
*vs2026
*vsxmake2026
*CMakeLists.txt

# Remainings
!.vscode/launch.json